Identity = "mme.localdomain";
Realm = "localdomain";
ListenOn = "MME_IP";
TLS_Cred = "/etc/open5gs/tls/mme.crt", "/etc/open5gs/tls/mme.key";
TLS_CA = "/etc/open5gs/tls/ca.crt";
NoRelay;

LoadExtension = "/usr/lib/x86_64-linux-gnu/freeDiameter/dbg_msg_dumps.fdx" : "0x8888";
LoadExtension = "/usr/lib/x86_64-linux-gnu/freeDiameter/dict_rfc5777.fdx";
LoadExtension = "/usr/lib/x86_64-linux-gnu/freeDiameter/dict_mip6i.fdx";
LoadExtension = "/usr/lib/x86_64-linux-gnu/freeDiameter/dict_nasreq.fdx";
LoadExtension = "/usr/lib/x86_64-linux-gnu/freeDiameter/dict_nas_mipv6.fdx";
LoadExtension = "/usr/lib/x86_64-linux-gnu/freeDiameter/dict_dcca.fdx";
LoadExtension = "/usr/lib/x86_64-linux-gnu/freeDiameter/dict_dcca_3gpp.fdx";

ConnectPeer = "hss.localdomain" { ConnectTo = "HSS_IP"; No_TLS; };

