logger:
  file:
    path: /var/log/open5gs/nssf.log
#  level: info   # fatal|error|warn|info(default)|debug|trace

global:
  max:
    ue: 1024  # The number of UE can be increased depending on memory size.
#    peer: 64

nssf:
  sbi:
    server:
      - address: NSSF_IP
        port: 7777
    client:
      nrf:
        - uri: http://NRF_IP:7777
      scp:
        - uri: http://SCP_IP:7777
      nsi:
        - uri: http://NSSF_IP:7777
          s_nssai:
            sst: 1
