logger:
  file:
    path: /var/log/open5gs/scp.log
#  level: info   # fatal|error|warn|info(default)|debug|trace

global:
  max:
    ue: 1024  # The number of UE can be increased depending on memory size.
#    peer: 64

scp:
  sbi:
    server:
      - address: SCP_IP
        port: 7777
    client:
      nrf:
        - uri: http://NRF_IP:7777

