logger:
  file:
    path: /var/log/open5gs/sgwu.log
#  level: info   # fatal|error|warn|info(default)|debug|trace

global:
  max:
    ue: 1024  # The number of UE can be increased depending on memory size.
#    peer: 64

sgwu:
  pfcp:
    server:
      - address: SGWU_IP
    client:
      sgwc:    # SGW-U PFCP Client try to associate SGW-C PFCP Server
        - address: SGWC_IP
  gtpu:
    server:
      - address: SGWU_IP

